<div class="postformcontainer">
    <div class="imagecontainer">
        {{#if message3}}
        <img src="
        {{message3}}"
          class="profilepic" alt="photo">
        {{/if }}
    </div>
    <div class="textareacontainer">
        <textarea  id="posttextarea"  placeholder="Write something here"></textarea>
        <div class="buttoncontainer">
           <button id="submitPostButton" disabled="">Post</button>
        </div>
    </div>
    
</div>
<script src="/js/home.js"></script>