<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>USERNAME</title>
</head>

<body>


    {{!-- {{#if message1}}
        <div  style="width:100%;  padding:4px; color:rgb(237, 36, 36); border:1px solid rgb(63, 82, 65); background-color:rgb(147, 137, 119); text-align:center;" > {{message}} </div>
    {{/if}}
    {{#if message2}}
        <div  style="width:100%;  padding:4px; color:rgb(237, 36, 36); border:1px solid rgb(63, 82, 65); background-color:rgb(147, 137, 119); text-align:center;" > {{message2}} </div>
    {{/if}}
    {{#if message3}}
        <div  style="width:100%;  padding:4px; color:rgb(237, 36, 36); border:1px solid rgb(63, 82, 65); background-color:rgb(147, 137, 119); text-align:center;" > {{message3}} </div>
    {{/if}}
    {{#if message5}}
        <div  style="width:100%;  padding:4px; color:rgb(237, 36, 36); border:1px solid rgb(63, 82, 65); background-color:rgb(147, 137, 119); text-align:center;" > {{message5}} </div>
    {{/if}} --}}


    <div class="section">
        <h1>Set your Username </h1>
        <form action="/username" method="POST" class="login">
            <input type="text" name="UN" id="UNname" placeholder="Username" required>
            <input type="submit" value="Submit">

        </form>
    </div>
</body>

</html>